
.billwrap{
	margin-bottom: 100px;
}

@media screen and (max-width: 992px) {
	.billwrap {
		width: 930px;
	}
}

@media screen and (max-width: 935px) {
	.billwrap {
		width: 880px;
	}
}

@media screen and (max-width: 875px) {
	.billwrap {
		width: 802px;
	}
}

@media screen and (max-width: 805px) {
	.billwrap {
		width: 753px;
	}
}

@media screen and (max-width: 758px) {
	.billwrap {
		width: 726px;
	}
}

@media screen and (max-width: 731px) {
	.billwrap {
		width: 662px;
	}
}

@media screen and (max-width: 667px) {
	.billwrap {
		width: 590px;
		margin: 10px auto;
	}
}

@media screen and (max-width: 595px) {
	.billwrap {
		width: 460px;
	}
}

@media screen and (max-width: 465px) {
	.billwrap {
		width: 409px;
	}
}

@media screen and (max-width: 414px) {
	.billwrap {
		width: 370px;
	}
}

@media screen and (max-width: 365px) {
	.billwrap {
		width: 355px;
	}
}

@media screen and (max-width: 360px) {
	.billwrap {
		width: 315px;
	}
}