.billInfo{
  text-align:center;
}

.billInfo h1{
  margin-top:0;
}

a{
  margin:10px;
}

.bill-summary{
  text-align:center;
  color:#666;
}

.billInfo .btn{
  color:#fff;
  text-decoration:underline;
}

.billInfo .redBtn{
  background-color:#FB2259!important;
}

.BillRow{
  background-color:#f4f4f4;
  padding:10px;
}

.BillRow h6{
  padding-top: 20px;
}