/* .navbar{
  background-color: #100E14;
}  */

nav{
  margin-bottom:0!important;
}

.navbar-brand {
  height: 34px;
  align-content: center;
}
img{
  height: 20px;
}

nav{
  background-color:#0057B5;
  color:#fff;
  margin-bottom:20px;
  -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
  box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
  padding: 0px 0px;
}

nav li a:hover{
  color:rgba(255, 240, 200, 1)
}

h1{
  font-weight:bold;
}

a{
  color:#fff;
}
.noMarg {
  margin: 5.5px 10px;
}
.noPad {
  padding: 0px 0px;
}
.showNone {
  display: none;
}

