
.card{
  padding:20px;
  margin:10px
}

.bills-page .panel-title{
  margin-top:5%;
}

/*h1, h2, h3{
	margin: 20px auto;
	text-align: center;
}
*/

.full, .tablet, .mobile {
	width: 100%;
}

.largeH {
	display: all;
}
.smallH {
	display: none;
}

@media screen and (min-width: 993px) {
	.full {
		display: contents;
	}
	.tablet {
		display: none;
	}
	.mobile {
		display: none;
	}
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
	.full {
		display: none;
	}
	.tablet {
		display: contents;
	}
	.mobile {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.full {
		display: none;
	}
	.tablet {
		display: none;
	}
	.mobile {
		display: contents;
	}
}

@media screen and (max-width: 576px) {
	.smallH {
		display: inherit;
	}
	.largeH {
		display: none;
	}
}